/* ESTILOS GENERALES */

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
html,
body {
    width: 100%;
    min-height: 100vh;
}
body > main {
    flex: 1;
    padding-top: 105.6px;
}
body > main > section {
    padding: 2.5rem 1rem;
}
body > main > section:nth-child(odd) {
    background-color: #85abff;
}
body > main > section:nth-child(even) {
    background-color: #c2d5ff;
}
h1 {
    display: inline-block;
}
i.botonAgregar,
i.botonEliminar {
    cursor: pointer;
}
i.botonEliminar {
    color: lightcoral;
}

/* ENLACES */

a,
a:active {
    color: #62a4a4;
    font-weight: bold;
    text-decoration: none;
}
body > header a,
body > header a:active,
body > nav a,
body > nav a:active,
body > footer a,
body > footer a:active {
    color: inherit;
    font-weight: normal;
}
a:focus-visible {
    outline: none;
    outline-offset: 0;
}

/* HEADER, NAV Y FOOTER */

header,
body > nav,
body > footer {
    background-color: #2f4f4f;
    color: #fff;
}
body > header,
body > footer {
    padding: 0.3rem 0;
}
body > header,
body > nav {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}
body > nav .col {
    padding: 0.5rem;
}
body > nav .active {
    background-color: #62a4a4;
    color: #000;
}

/* HACERLO EN JAVASCRIPT */
body > nav {
    top: 65.6px;
}
/* HACERLO EN JAVASCRIPT */

/* TABLAS */

.table {
    margin: 0;
}
.table th:first-of-type,
.table td:first-of-type {
    border-left-width: 2px;
    border-right-width: 2px;
}
.table th:last-of-type,
.table td:last-of-type {
    border-left-width: 0;
    border-right-width: 2px;
}
.table .table-dark th:first-of-type {
    border-left-color: #212529;
}
.table .table-dark th:last-of-type {
    border-right-color: #212529;
}
.table-group-divider {
    border-top-width: 2px !important;
}

/* MENSAJES DE ERROR */

.errorMsg {
    display: grid;
    justify-items: start;
    justify-content: center;
}

/* MAPA */

#map {
    height: 600px;
    width: 100%;
}
.datos span {
    font-weight: bold;
}
.leaflet-top.leaflet-right,
.leaflet-top.leaflet-right * {
    overflow-y: auto;
    overscroll-behavior: contain;
}
