/* ESTILOS GENERALES */

* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-align: center;
}
html,
body {
    width: 100%;
    min-height: 100vh;
}
body section,
nav + div.container {
    flex: 1;
    padding-top: 105.6px;
}
h1 {
    display: inline-block;
}

/* ENLACES */

a,
a:active {
    color: #62a4a4;
    font-weight: bold;
    text-decoration: none;
}
header a,
header a:active,
nav a,
nav a:active,
footer a,
footer a:active {
    color: inherit;
    font-weight: normal;
}
a:focus-visible {
    outline: none;
    outline-offset: 0;
}

/* HEADER, NAV Y FOOTER */

header,
nav,
footer {
    background-color: #2f4f4f;
    color: #fff;
}
header,
footer {
    padding: 0.3rem 0;
}
header,
nav {
    position: fixed;
    width: 100%;
    top: 0;
}
nav .col {
    padding: 0.5rem;
}
nav .active {
    background-color: #62a4a4;
    color: #000;
}

/* HACERLO EN JAVASCRIPT */
nav {
    top: 56px;
}
/* HACERLO EN JAVASCRIPT */
