#map {
    height: calc(100vh - 300px);
    min-height: 250px;
    max-height: 600px;
    width: 100%;
}
.leaflet-top.leaflet-right,
.leaflet-top.leaflet-right * {
    overflow-y: auto;
    overscroll-behavior: contain;
}
